.reviews{
  margin-bottom: 110px;
  @include r($r-md){
    margin-bottom: 56px;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    @include r($r-md){
      flex-direction: column;
    }
  }
  &__bg{

    max-height: 506px;

  }
  &__img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;

  }
  &__content{
    p{
      &:not(:last-child){
        margin-bottom: 65px;
        @include r($r-md){
          margin-bottom: 24px;
        }
      }
    }
  }
}