.care {
  padding: 96px 0 30px;

  &__wrapper {
    @include rmin($r-md) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      // background-repeat: no-repeat;
      // background-image: url('../img/content/cloud-1.png'),url('../img/content/cloud-2.png'),url('../img/content/cloud-3.png');
      // background-position: 260px 165px, 580px 660px, 325px 1160px;
    }
  }

  &__heading {
    margin-bottom: 32px;
  }

  &__descriptor {
    max-width: 1086px;
    margin: 0 auto;
    font-size: calc((100vw - 328px)/(1200 - 328) * (24 - 18) + 18px);

    line-height: 1.3;
    margin-bottom: 47px;
  }

  &__card {
    margin-bottom: 68px;

    @include r($r-md) {
      width: 100%;
      margin-bottom: 24px;
    }
  }

  .info-card {


    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(7) {
      z-index: 1;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 331px;
        height: 227px;
        background-image: url('../img/icons/cloud.svg');
        background-repeat: no-repeat;
        background-size: contain;
        right: -22px;
        bottom: -67px;
        z-index: 1;

        @include r($r-md) {
          display: none;
        }
      }
    }

    &:nth-child(1) {
      &::before {
        content: "";
        width: 331px;
        height: 227px;
        right: -22px;
        bottom: -67px;
        z-index: 1;
      }
    }

    &:nth-child(4) {
      &::before {
        content: "";
        width: 246px;
        height: 168px;
        left: -22px;
        bottom: -71px;
        z-index: 1;
      }
    }

    &:nth-child(7) {
      &::before {
        content: "";
        width: 288px;
        height: 196px;
        right: -61px;
        top: -85px;
        z-index: 1;
      }
    }
  }


}