.amazon{
  padding: 96px 0 94px;
  &__heading{
    margin-bottom: 37px;
  }
  &__inner{
    @include rmin($r-md){
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__text{
    @include r($r-md){
      margin-bottom: 24px;
    }
  }
  &__bg{
    max-height: 415px;
  }
  &__img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
  }
}