.steps{
  padding: 48px 0 40px;
  @include rmin($r-md){
    padding: 97px 0 100px;
  }

  // &__row{
  //   @include rmin($r-md){
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //   }
  // }
  &__row{
    display: grid;
    grid-template-areas: 
    "title"
    "image"
    "card"
    ;
    &:not(:last-child){
      margin-bottom: 48px;
    }
    @include rmin($r-md){
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      column-gap:38px;
    }
    &--odd{

      @include rmin($r-md){
        grid-template-areas: 
        "image title"
        "image card"
        ;
      }
    }
    &--even{

      @include rmin($r-md){
        grid-template-areas: 
        "title image"
        "card image"
        ;
      }

    }

  }

  &__bg{
    grid-area: image;
    @include r($r-md){
      margin-bottom: 24px;
    }
    &--buyer{
      max-height: 381px;
    }
    &--request{
      max-height: 354px;
    }
    &--soft{
      max-height: 380px;
    }
  }
  &__card{
    grid-area: card;
  }
  &__title{
    grid-area: title;
    margin-bottom: 24px;
    color: $title;
    font-size: 24px;
    line-height: 1.2;
    @include proxiBold;
  }

  &__text{

    p{
      &:not(:last-child){
        margin-bottom: 24px;
        @include rmin($r-md){
          margin-bottom: 32px;
        }
      }
    }
  }

  &__img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;

  }
}