.steps{
  padding: 97px 0 100px;

  &__row{
    @include rmin($r-md){
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__img{
    max-width: 100%;
    width: 100%;
    @include r($r-md){
      margin-bottom: 24px;
    }
  }
}