.advantages {
  padding: 48px 0 34px;

  @include rmin($r-md) {
    padding: 97px 0 100px;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "ad-title"
      "ad-bg"
      "ad-text"
    ;
    &:not(:last-child) {
      @include r($r-md) {
        margin-bottom: 48px;
      }

      @include rmin($r-md) {
        margin-bottom: 57px;
      }
    }

    @include rmin($r-md) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 138px 1fr;
      column-gap: 38px;
    }


    &--odd {
      @include rmin($r-md) {
        grid-template-areas:
          "ad-bg ad-title"
          "ad-bg ad-text"
        ;
      }

    }

    &--even {
      @include rmin($r-md) {
        grid-template-areas:
          "ad-title ad-bg"
          "ad-text ad-bg"
        ;
      }
    }
  }

  &__title {
    margin-bottom: 24px;
    grid-area: ad-title;
    align-self: end;

    // align-self: center;
    @include r($r-md) {
      text-align: center;
    }
  }

  &__bg {
    grid-area: ad-bg;
    max-height: 400px;

    @include r($r-md) {
      margin-bottom: 24px;
      display: flex;

    }
  }

  &__img {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  &__text {
    grid-area: ad-text;

    @include r($r-md) {
      margin-bottom: 48px;
    }
  }
}