.solution {
  @include rmin($r-md) {
    padding: 94px 0 227px;
  }

  &__heading {
    margin-bottom: 57px;
  }

  &__inner {
    @include rmin($r-md) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__card{
    @include r($r-md){
      width: 100%;
      margin-bottom: 16px;
    }
    @include rmin($r-md) {
      margin-bottom: 68px;
    }
  }

}