<section class="solution">
  <div class="container">
    <h2 class="solution__heading heading">What to Do About Negative Reviews?</h2>
    <div class="solution__inner">

      
      @@include('../bem-blocks/_1.info-card.html',{
        "care-elem": "solution__card",
        "info-card__title--modif": "info-card__title--enhance",
        "info-card__title": "Reply Professionally",
        "info-card__text": "We do know that poor reviews from customers can hurt. It's difficult not to take such feedback personally; however, try to look at them as your learning experience. If you get a negative review, keep in mind to reply professionally and solve the customer’s issue if possible. Train your team to respond in the same manner."
      })

      @@include('../bem-blocks/_1.info-card.html',{
        "care-elem": "solution__card",
        "info-card__title--modif": "info-card__title--negative-smile",
        "info-card__title": "Think What Is Not Working",
        "info-card__text": "Bad reviews can turn out to be very useful for your business. Check out feedback for common issues and work them out with your manufacturers or suppliers. Negative testimonials can also show the end of the life cycle of your products or accentuate the opportunities for improvements."
      })

      @@include('../bem-blocks/_1.info-card.html',{
        "care-elem": "solution__card",
        "info-card__title--modif": "info-card__title--dislike",
        "info-card__title": "Report Non-Сompliant or Abusive Reviews",
        "info-card__text": "The Amazon platform does not allow customers to post reviews with inappropriate or abusive language. Shoppers also cannot disclose any personal info about the seller. However, when you get abusive testimonials or fake reviews that contradict the Community Guidelines of the marketplace, you can report them for possible removal."
      })

      @@include('../bem-blocks/_1.info-card.html',{
        "care-elem": "solution__card",
        "info-card__title--modif": "info-card__title--trash",
        "info-card__title": "Get Rid Of Problematic Goods",
        "info-card__text": "The occasional poor feedback is likely to pop up. But if you get negative reviews for the same items regularly, it might be time to retire them from the lineup. It's especially true when you have already made some improvements to the listing and goods. Not every item will be a winner, so sometimes it is better to shift your focus and efforts to the new product."
      })

      @@include('../bem-blocks/_1.info-card.html',{
        "care-elem": "solution__card",
        "info-card__title--modif": "info-card__title--listing",
        "info-card__title": "Enhance Your Amazon Listings",
        "info-card__text": "Usually, negative feedback and product reviews mean that it is high time to revisit your product descriptions. Are you getting reviews on Amazon and poor ratings for failure to serve customers' expectations? Check your listings to make sure that all dimensions and variations are correct. Think of including FAQs to provide answers to common questions. A well-optimized product listing is a must-have thing when we are talking about how to increase reviews on Amazon."
      })
      <div class="col">
        <img class="solution__img-mob" src="img/content/negative-bg.png">
      </div>
    </div>
  </div>
</section>