<section class="reviews">
  <h2 class="sr-only">Product reviews</h2>
  <div class="container">
    <div class="reviews__inner">
      <div class="reviews__bg col">
      <img src="img/content/reviews-bg.png" alt="" class="reviews__img">
      </div>
      <div class="reviews__content col">
        <p>
          Product reviews are a cornerstone for any seller on the Amazon marketplace. They have a crucial impact on product visibility in search results, listing conversion rates, and, as a result, sales. In addition, the vast majority of shoppers read reviews before making a purchase decision, so reviews must be fresh, relevant, and informative.
        </p>
        <p>
          Getting reviews on Amazon can be challenging for both new and experienced sellers and brands. Sellers should also consider the strict Amazon review guidelines so as not to put their accounts at risk. Here, we will cover the best ways to get Amazon reviews, stay compliant with Amazon policies and use automated reviews programs to improve seller feedback ratings. So, sit back and read our comprehensive guide for any Amazon seller - how to get reviews promptly and effectively. 
        </p>
      </div>
    </div>
  </div>
</section>