<section class="care primary-bg">
  <div class="container">
    <div class="care__inner">
      <h2 class="heading care__heading">
        Why Should I Care About Reviews?
      </h2>
      <p class="care__descriptor">
        Any Amazon customer review is an essential building element for the continued success of your business. Clients
        rely on customer experience and positive reviews to inform purchase decisions.
      </p>
      <div class="care__wrapper">
        @@include('../bem-blocks/_1.info-card.html',{
          "care-elem": "care__card",
          "info-card__title--modif": "info-card__title--generate",
          "info-card__title": "Generate More Orders from Clicks",
          "info-card__text": "Quality star review rate helps enhance product search rankings allowing more customers to discover your goods, increasing sales potential. In addition, shoppers are more likely to buy an item with good testimonials, so receiving your first reviews just after you launch a product is crucial."
        })

        @@include('../bem-blocks/_1.info-card.html',{
          "care-elem": "care__card",
          "info-card__title--modif": "info-card__title--enhance",
          "info-card__title": "Enhance Your Existing Goods",
          "info-card__text": "Customer feedback can bring valuable information for enhancing your products. First, find out what is working well and what should be improved directly from your clients. Then, check out for comments, read the most frequent suggestions, and implement them."
        })

        @@include('../bem-blocks/_1.info-card.html',{
          "care-elem": "care__card",
          "info-card__title--modif": "info-card__title--spot",
          "info-card__title": "Spot Possible Product Opportunities",
          "info-card__text": "Strive to differentiate your goods by composing bundles or kits? Wish to add a new line of your goods? Product reviews give lots of information about what customers want, straight from them. Keeping track of this can help you spot the opportunities that might take your Amazon business to the next level."
        })

        @@include('../bem-blocks/_1.info-card.html',{
          "care-elem": "care__card",
          "info-card__title--modif": "info-card__title--improve",
          "info-card__title": "Improve Your Stock Planning",
          "info-card__text": "Positive feedback can help sellers predict how well certain goods will sell. If you notice a steady flow of positive reviews, it's a clear sign that your items are a hit. Plan your inventory accordingly to avoid any stockouts. Alternatively, when you have a drop in testimonials, it's time for you to look closer at your goods."
        })

        
        @@include('../bem-blocks/_1.info-card.html',{
          "care-elem": "care__card",
          "info-card__title--modif": "info-card__title--measure",
          "info-card__title": "Measure Customer Service Satisfaction",
          "info-card__text": "When selling on Amazon, one of your primary goals is to make sure that buyers are happy with your items and service. Testimonials provide an opportunity to learn precisely what your customers think. Such reactions give invaluable info and might even discover new use options."
        })

        @@include('../bem-blocks/_1.info-card.html',{
          "care-elem": "care__card",
          "info-card__title--modif": "info-card__title--help",
          "info-card__title": "Help Customer Make Decisions",
          "info-card__text": "Buyers on Amazon rely on other buyers’ top reviews when making purchasing decisions. Indeed, over 90% of customers read online testimonials before buying an item. On a digital platform, shoppers can't physically check the items. So, reviews on products are a vital source of information for Amazon customers."
        })

        @@include('../bem-blocks/_1.info-card.html',{
          "care-elem": "care__card",
          "info-card__title--modif": "info-card__title--boost",
          "info-card__title": "Boost Organic Search Rankings On Amazon",
          "info-card__text": "The algorithm on Amazon decides on how to display products in its search results. Receiving reviews regularly and having a good review history are crucial factors for that algorithm. As a result, ranking on the first pages of search results improves your chance of getting a sale."
        })

        @@include('../bem-blocks/_1.info-card.html',{
          "care-elem": "care__card",
          "info-card__title--modif": "info-card__title--awareness",
          "info-card__title": "Improve Your Brand Awareness",
          "info-card__text": "The algorithm on Amazon decides on how to display products in its search results. Receiving reviews regularly and having a good review history are crucial factors for that algorithm. As a result, ranking on the first pages of search results improves your chance of getting a sale."
        })

      </div>
    </div>
  </div>
</section>