<section class="amazon">
  <div class="container">
    <h2 class="amazon__heading heading">How to Get Amazon Product Reviews?</h2>
    <div class="amazon__inner">
      <div class="amazon__text col">
        <p>If you are looking for ways to get feedback on Amazon, feel free to send proactive messages to request product reviews and seller feedback scores. The platform has different ways to contact customers to leave feedback: the Buyer-Seller Messaging system, the Request a Review button, and the Amazon API. In addition, a lot of sellers employ third-party apps to automate the requesting reviews process. </p>
        <p>All communication with customers must be sent within 30 days after they complete an order, including the order number, and translated into their preferred language.</p>
      </div>  
      <div class="amazon__bg col">
        <img class="amazon__img" src="img/content/howto-bg.png" alt="How to Get Amazon Product Reviews?">
      </div>
    </div>
  </div>
</section>