<section class="steps primary-bg">
  <h2 class="sr-only">Steps for set up</h2>
  <div class="container">

    <div class="steps__row steps__row--odd">
      <h3 class="steps__title">Buyer-Seller Messaging</h3>
      <div class="steps__card ">
        <div class="steps__text">
          <p>
            You can send the review requests with the Buyer-Seller Messaging system in your Seller Central account. This
            feature allows sellers to customize their messages.
          </p>
          <p>
            However, it's necessary to follow all the platform's guidelines for communication with buyers. So, it’s
            better to check the policies on how to get good reviews on Amazon before sending direct messages.
          </p>
        </div>
      </div>
      <div class="steps__bg steps__bg--buyer">
        <img class="steps__img" src="img/content/messaging-bg.png" alt="Buyer-Seller Messaging">
      </div>

    </div>

    <div class="steps__row steps__row--even">
      <h3 class="steps__title">Request a Review Button</h3>
      <div class="steps__card">
        <div class="steps__text">
          <p>
            In this case, Amazon sends the message with a review request by itself on behalf of the seller upon their request. The seller can’t change or customize the message.
          </p>
          <p>
            However, it's automatically translated into the customer's language of preference. You can send requests manually from Order Details in your Seller Central account or use third-party software to automate the whole process. Amazon sellers have been receiving outstanding results with this type of messaging. After implementing this tool, recent research among Amazon customers showed a 41% increase in the average review rate per day.
          </p>
        </div>
      </div>
      <div class="steps__bg steps__bg--request">
        <img class="steps__img" src="img/content/request-bg.png" alt="Request a Review Button">
      </div>
    </div>

    <div class="steps__row steps__row--odd">
      <div class="steps__bg steps__bg--soft">
        <img class="steps__img" src="img/content/software-bg.png" alt="Buyer-Seller Messaging">
      </div>
      <h3 class="steps__title">Software for Amazon Sellers</h3>
      <div class="steps__card">
        <div class="steps__text">
          <p>
            Additionally, sellers can use third-party software, like SageMailer, that connects with the platform's API. Such tools allow sellers to send customized review requests using Buyer-Seller Messaging templates and automate Amazon’s “Request a Review” button requests.
          </p>
          <p>
            Regardless of the chosen messaging method, Sagemailer's scheduling and automation features will save tons of your valuable time, help you get more reviews, and improve your performance on Amazon.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>