<section class="advantages primary-bg">
  <h2 class="sr-only">Advantages working with us</h2>
  <div class="container">
    <div class="advantages__inner">

      <div class="advantages__row advantages__row--odd">
        <h3 class="advantages__title block-title">Email Automation</h3>
        <div class="advantages__text">
          <p>In addition to Amazon's official "Request a Review" button, create, automate, and send customized messages
            through Amazon's Buyer-Seller Messaging. Use flexible delivery settings and add dynamic order-related
            content to your emails for more efficient communication.</p>
        </div>
        <div class="advantages__bg">
          <img src="img/content/email-bg.webp" alt="Email Automation" class="advantages__img">
        </div>
      </div>

      <div class="advantages__row advantages__row--even">
        <h3 class="advantages__title block-title">Tracking Product Reviews & Seller Feedback</h3>
        <div class="advantages__text">
          <p>
            SageMailer automatically monitors your Amazon product listings and sends instant notifications about new
            product reviews and seller feedback. This way, you can timely react to negative reviews and handle customer
            concerns to maintain a perfect seller rating.
          </p>
        </div>
        <div class="advantages__bg">
          <img src="img/content/tracking-bg.webp" alt="Tracking Product Reviews & Seller Feedback"
            class="advantages__img">
        </div>
      </div>

      <div class="advantages__row advantages__row--odd">
        <h3 class="advantages__title block-title">Buyer Messages Management</h3>
        <div class="advantages__text">
          <p>SageMailer makes it simple to read and reply to all your Amazon buyers’ messages from all marketplaces on a
            single page. Streamline your customer support using pre-created templates, autoresponder feature, and
            history of previous messages. </p>
        </div>
        <div class="advantages__bg">
          <img src="img/content/management-bg.webp" alt="Buyer Messages Management" class="advantages__img">
        </div>
      </div>
      <div class="advantages__row advantages__row--even">
        <h3 class="advantages__title block-title">Create the Best-Converting Messages</h3>
        <div class="advantages__text">
          <p>
            Create different versions of letters and simultaneously test them to find out which variation works better. A/B testing takes the guesswork out of your decision-making and helps create templates that boost Amazon reviews.
          </p>

        </div>
        <div class="advantages__bg">
          <img class="advantages__img" src="img/content/create-bg.webp" alt="Create the Best-Converting Messages">
        </div>
      </div>
    </div>
  </div>
</section>