<div class="section-wrapper" id="pricing">
  <section class="section prices">
  <canvas id="shootingStars" width="1282" height="1057"></canvas>
  <div class="container">
  <div class="row prices__row">
  <div class="col">
  <div class="prices__head">
  <div class="prices__cloud prices__cloud--l"><img src="img/icons/white-cloud.svg" alt="Click to get positive Amazon reviews"><svg class="svg cloud__point"><use xlink:href="assets-home/img/svg/symbol/sprite.svg#click"></use></svg></div>
  <div class="prices__cloud prices__cloud--r"><img src="img/icons/white-cloud.svg" alt="Click to request positive review"></div>
  <h3 class="prices__title">FAIR PRICES</h3>
  <div class="prices__subtitle">The Best Deal For Any Business </div>
  <div class="prices__head-btn"><a href="https://app.sagemailer.com/sign-up"><span>Start My Free Month</span></a></div>
  </div>
  </div>
  <div class="prices__item prices__item--f">
  <div class="prices__item-f-title">Take Advantage Of</div>
  <div class="prices__item-f-option">
  <div class="f-option__ico"><svg class="svg svg__tweak sagemailer__svg"><use xlink:href="img/svg/sprite.svg#tweak"></use></svg></div>
  <div class="f-option__text">Unlimited campaigns</div>
  </div>
  <div class="prices__item-f-option">
  <div class="f-option__ico"><svg class="svg svg__coding sagemailer__svg"><use xlink:href="img/svg/sprite.svg#online_shop"></use></svg></div>
  <div class="f-option__text">16 Amazon marketplaces</div>
  </div>
  <div class="prices__item-f-option">
  <div class="f-option__ico"><svg class="svg svg__shop sagemailer__svg"><use xlink:href="img/svg/sprite.svg#shop"></use></svg></div>
  <div class="f-option__text">No fee for extra marketplaces (Pro+)</div>
  </div>
  <div class="prices__item-f-option">
  <div class="f-option__ico"><svg class="svg svg__infinity sagemailer__svg"><use xlink:href="img/svg/sprite.svg#infinity"></use></svg></div>
  <div class="f-option__text">Unlimited ASINs</div>
  </div>
  <div class="prices__item-f-option">
  <div class="f-option__ico"><svg class="svg svg__analytics sagemailer__svg"><use xlink:href="img/svg/sprite.svg#analytics"></use></svg></div>
  <div class="f-option__text">Feedback &amp; Review monitoring (Basic+)</div>
  </div>
  <div class="prices__item-f-option">
  <div class="f-option__ico"><svg class="svg svg__translate sagemailer__svg"><use xlink:href="img/svg/sprite.svg#translate"></use></svg></div>
  <div class="f-option__text">Multilingual templates</div>
  </div>
  <div class="prices__item-f-option">
  <div class="f-option__ico"><svg class="svg svg__diss sagemailer__svg"><use xlink:href="img/svg/sprite.svg#diss"></use></svg></div>
  <div class="f-option__text">Seller Feedback &amp; Product Review Alerts</div>
  </div>
  <div class="prices__item-f-option">
  <div class="f-option__ico"><svg class="svg svg__diss sagemailer__svg"><use xlink:href="img/svg/sprite.svg#help"></use></svg></div>
  <div class="f-option__text">Professional and experienced support team</div>
  </div>
  </div>
  <div class="prices__item prices__item--t prices__item--pro">
  <div class="prices__item-star" style="display: none;"><span></span><svg class="svg svg__star price__star"><use xlink:href="img/svg/sprite.svg#star"></use></svg></div>
  <div class="prices__item-title"> <b>ULTRA </b><span style="display: none;">Most Popular</span></div>
  <div class="prices__item-price">$100</div>
  <div class="prices__item-desc">
  <form action="#"><div class="jq-selectbox jqselect pro-select changed" style="z-index: 10;"><select class="pro-select" name="Pro select"><option value="rate_1">2,000 messages / month</option><option value="rate_2">7,000 messages / month</option><option value="rate_3">25,000 messages / month</option></select><div class="jq-selectbox__select"><div class="jq-selectbox__select-text">25,000 messages / month</div><div class="jq-selectbox__trigger"><div class="jq-selectbox__trigger-arrow"></div></div></div><div class="jq-selectbox__dropdown" style="display: none; height: auto; bottom: auto; top: 32px;"><ul style="max-height: 435px;"><li class="" style="">2,000 messages / month</li><li style="">7,000 messages / month</li><li style="" class="selected sel">25,000 messages / month</li></ul></div></div></form>
  </div>
  <div>
  <div class="prices__item-option">Inbox Emails</div>
  <div class="prices__item-option">A/B testing</div>
  <div class="prices__item-option">Shipping Labels</div>
  <div class="prices__item-option">VAT Invoices</div>
  <div class="prices__item-option">Review Monitoring</div>
  <div class="prices__item-option">All Marketplaces</div>
  </div>
  <div class="prices__item-btn"><a href="/sign-up/ultra">Start Free Month</a></div>
  <div class="prices__item-police">No Credit Card Required</div>
  </div>
  <div class="prices__item prices__item--s">
  <div class="prices__item-title">Basic</div>
  <div class="prices__item-price">$10</div>
  <div class="prices__item-desc">500 messages / month</div>
  <div>
  <div class="prices__item-option">-</div>
  <div class="prices__item-option">-</div>
  <div class="prices__item-option">-</div>
  <div class="prices__item-option">VAT Invoices</div>
  <div class="prices__item-option">Review Monitoring</div>
  <div class="prices__item-option">1 Marketplace</div>
  </div>
  <div class="prices__item-btn"><a href="https://app.sagemailer.com/sign-up/basic">Start Free Month</a></div>
  <div class="prices__item-police">No Credit Card Required</div>
  </div>
  <div class="prices__item prices__item--fo">
  <div class="prices__item-title">Free</div>
  <div class="prices__item-price">free</div>
  <div class="prices__item-desc">200 messages / month</div>
  <div>
  <div class="prices__item-option">-</div>
  <div class="prices__item-option">-</div>
  <div class="prices__item-option">-</div>
  <div class="prices__item-option">-</div>
  <div class="prices__item-option">-</div>
  <div class="prices__item-option">1 Marketplace</div>
  </div>
  <div class="prices__item-btn"><a href="https://app.sagemailer.com/sign-up/free">Sign Up</a></div>
  <div class="prices__item-police">Free Forever!</div>
  </div>
  <div class="col">
  <div class="prices__foot">
  *If you are an agency or have more than 1 Amazon account,<br>you can easily <span style="color:#019BD3; font-weight:bold;">create and link as many SageMailer accounts as you need.</span>
  </div>
  </div>
  </div>
  </div>
  </section>
  </div>