<div class="section-wrapper" id="contacts">
  <section class="section foot">
  <div class="container">
  <div class="row foot__row">
  <div class="foot__col foot__col--f">
  <div class="foot__logo"><a href="#top" class="easyscroll"><img src="img/logo.svg" width="110" alt="Amazon feedback &amp; review software"></a></div>
  <h3 class="foot__text-l">Helps sellers boost Amazon sales &amp; product reviews by <br> building good relationships with customers. <br>Best Amazon review &amp; feedback software. <br>SellerNova - FBA &amp; seller tools.</h3>
  <div class="foot__police">Copyright © 2018 SageMailer. All rights reserved. <br><a href="/privacy-policy.html" target="_blank">Privacy Policy</a><a href="/data-protection-policy.html" target="_blank">Data Protection</a><a href="/terms-of-use.html" target="_blank">Terms of Use</a></div>
  </div>
  <div class="foot__col foot__col--s">
  <div class="foot__connect">
  <a href="tel:+16468760101"> <svg class="svg svg__phone "><use xlink:href="img/svg/sprite.svg#phone"></use></svg>+1 (646) 876-0101</a>
  <a href="mailto:info@sagemailer.com"> <svg class="svg svg__mail "><use xlink:href="img/svg/sprite.svg#mail"></use></svg>info@sagemailer.com</a>
  <div>244 Madison Avenue, 10016-2417, New York City, NY, USA</div>
  </div>
  <div class="foot__soc" itemscope="" itemtype="https://schema.org/Organization">
  <link itemprop="url" href="https://sagemailer.com/">
  <a itemprop="sameAs" href="https://www.facebook.com/sagemailer/">
  <svg class="svg svg__fc "><use xlink:href="img/svg/sprite.svg#fc"></use></svg>
  </a>
  <a class="foot__soc-twitter" itemprop="sameAs" href="https://twitter.com/sagemailer">
  <svg class="svg tw" enable-background="new 0 0 455.731 455.731" version="1.1" viewBox="0 0 455.731 455.731" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
  <rect width="455.73" height="455.73" fill="#50ABF1"></rect>
  <path d="m60.377 337.82c30.33 19.236 66.308 30.368 104.88 30.368 108.35 0 196.18-87.841 196.18-196.18 0-2.705-0.057-5.39-0.161-8.067 3.919-3.084 28.157-22.511 34.098-35 0 0-19.683 8.18-38.947 10.107-0.038 0-0.085 9e-3 -0.123 9e-3 0 0 0.038-0.019 0.104-0.066 1.775-1.186 26.591-18.079 29.951-38.207 0 0-13.922 7.431-33.415 13.932-3.227 1.072-6.605 2.126-10.088 3.103-12.565-13.41-30.425-21.78-50.25-21.78-38.027 0-68.841 30.805-68.841 68.803 0 5.362 0.617 10.581 1.784 15.592-5.314-0.218-86.237-4.755-141.29-71.423 0 0-32.902 44.917 19.607 91.105 0 0-15.962-0.636-29.733-8.864 0 0-5.058 54.416 54.407 68.329 0 0-11.701 4.432-30.368 1.272 0 0 10.439 43.968 63.271 48.077 0 0-41.777 37.74-101.08 28.885l0.019 5e-3z" fill="#fff"></path>
  </svg>
  </a>
  </div>
  </div>
  <div class="foot__col foot__col--l">
  <div class="foot__title">BLOG</div>
  <ul class="foot__list">
  <li class="foot__list-item"><a href="https://sagemailer.com/blog/automate-amazon-request-a-review-button-with-sagemailer-100-safe-way-to-get-product-reviews-amazon-approved/">How to Automate “Request a Review” Button with SageMailer</a></li>
  <li class="foot__list-item"><a href="https://sagemailer.com/blog/amazon-request-a-review-extensions-for-chrome-vs-sagemailer/">What are the benefits of SageMailer vs. “Request a Review” Extensions</a></li>
  <li class="foot__list-item"><a href="https://sagemailer.com/blog/amazon-account-suspension-how-to-request-product-reviews-safely/">How to Request Product Reviews Safely</a></li>
  <li class="foot__list-item"><a href="https://sagemailer.com/blog/amazon-review-policy-and-what-you-should-know-about-it/">What you need to know about Amazon Review Policy</a></li>
  <li class="foot__list-item"><a href="https://sagemailer.com/blog/best-ways-to-remove-your-negative-feedback/">How to Remove Your Amazon Negative Feedback</a></li>
  </ul>
  </div>
  </div>
  </div>
  </section>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jQueryFormStyler/2.0.2/jquery.formstyler.min.js" integrity="sha512-NQWLm7ozXeOcDB639QSEzUWiNDEKD/mPKDIH256UYr9V7dwqF6OW4+1AEAVSaY6iaCaJzjjAR2GV6bPBYEzHig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
