.info-card {
  width: calc((100% - 38px) / 2);
  padding: 33px 32px 70px;
  box-shadow: 0px 62px 80px rgba(0, 0, 0, 0.07), 0px 22px 24px rgba(0, 0, 0, 0.04), 0px 6px 4px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  background-color: $secondary-bg;

  &__title {
    padding-left: 72px;
    margin-bottom: 24px;
    color: $title;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 48px;
      height: 48px;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--generate {
      &::before {
        background-image: url(../img/icons/generate.png);
      }
    }

    &--enhance {
      &::before {
        background-image: url(../img/icons/enhance.png);
      }
    }

    &--spot {
      &::before {
        background-image: url(../img/icons/opportunities.png);
      }
    }

    &--improve {
      &::before {
        background-image: url(../img/icons/improve.png);
      }
    }

    &--measure {
      &::before {
        background-image: url(../img/icons/measure.png);
      }
    }

    &--help {
      &::before {
        background-image: url(../img/icons/help.png);
      }
    }

    &--boost {
      &::before {
        background-image: url(../img/icons/boost.png);
      }
    }

    &--awareness {
      &::before {
        background-image: url(../img/icons/aware.png);
      }
    }
  }
}